*{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  body {
      background-color: #181818;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      color: #fff;
  }
  
  .container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background-color: #222;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      width: 300px;
  }
  
  .container h2 {
      text-align: center;
      margin-bottom: 20px;
  }
  
  .auth_div {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }
  
  .animation {
      display: inline-block;
      /* background: rgba(0, 123, 255, 1); */
      width: 160px;
      height: 70px;
  }
  
  .animation-div {
      display: flex;
      flex-direction: row;
      width: 120px;
      height: 20px;
      text-align: center;
  }
  .form-group {
      margin-bottom: 15px;
  }
  
  .form-group label {
      display: block;
      margin-bottom: 5px;
  }
  
  .form-group input {
      margin-bottom: 1.25rem;
      border-radius: 0.625rem;
      width: 100%;
      padding: 0.75rem 1.25rem;
      box-sizing: border-box;
      font-size: 0.875rem;
      border: 1px solid #292929;
      outline: none;
      background: #36373B;
  }
  
  .form-group input:focus, .form-group input:active {
      border: 3px solid #1d4a77;
      background-color: #2e2e2e;
  }
  
  .form-group button {
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      border: none;
      border-radius: 10px;
      color: #fff;
      cursor: pointer;
  }
  
  .form-group button:hover {
      background-color: #0056b3;
  }
  
  .link {
      display: block;
      text-align: center;
      margin-top: 10px;
  }
  
  .mltr {
      position: relative;
      right: 50px;
      width: 49.75px;
      height: 20px;
  }
  
  .login-event {
      /* background-color: #007bff; */
      width: 49.75px;
  }
  
  .left-to-right {
      animation-duration: 3s;
      animation-name: moveLeftToRight;
      animation-fill-mode: forwards;
  }